@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    transition: 0.5s;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

header{
    height: 80px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding-top: 25px;
    margin-bottom: 50px;
    transition: 0.5s;
    nav{
       display: flex;
       justify-content: space-between;
       align-items: center; 
       h1{
       
        font-family: Nunito Sans;
        font-size: 24px;
        font-weight: 800;
        line-height: 33px;
        letter-spacing: 0px;
        text-align: left;
       }
       .night-mode{
           display: flex;
           align-items: center;
           gap: 8px;
           font-family: Nunito Sans;
           font-size: 16px;
           font-weight: 600;
           line-height: 22px;
           letter-spacing: 0px;
           text-align: left;
       }
    }
}

main{
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        .input-wrapper{
            transition: 0.5s;
            display: flex;
            align-items: center;
            gap: 24px;
            width: 480px;
            height: 56px;   
            border-radius: 5px;
            box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
            background: rgb(255, 255, 255);
            padding: 34px 21px 34px 21px;
            input{
                transition: 0.5s;
                border: none;
                outline: none;
                width: 100%;
                height: 45px;
                color: rgb(132, 132, 132);
                font-family: Nunito Sans;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: left;
            }
        }
        .select-wrapper{
            display: flex;
            align-items: center;
            gap: 16px;
        }
        select{
            width: 200px;
            height: 56px;
            color: rgb(17, 21, 23);
            font-family: Nunito Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
            padding-left: 20px;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
            background: rgb(255, 255, 255);
            outline: none;
            transition: 0.5s;
        }
    } 
    .flags-wrapper{
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       gap: 75px;
       margin-left: 30px; 
       .flag{
            cursor: pointer;
            transition: transform 0.7s, box-shadow 0.5s;
            width: 264px;
            height: 336px;
            border-radius: 5px;
            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
            background: rgb(255, 255, 255);
            transition: 0.5s;
           img{
                width: 264px;
                height: 160px;
                border-radius: 5px 5px 0px 0px;
           }
           .flag-info{
                padding: 24px 24px 24px 24px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                h3{
                    color: rgb(17, 21, 23);
                    font-family: Nunito Sans;
                    font-size: 18px;
                    font-weight: 800;
                    line-height: 26px;
                    letter-spacing: 0px;
                    text-align: left;
                    margin-bottom: 8px;
                }
                p{
                    color: rgb(17, 21, 23);
                    font-family: Nunito Sans;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 16px;
                    letter-spacing: 0px;
                    text-align: left;

                }
                span{
                    color: rgb(17, 21, 23);
                    font-family: Nunito Sans;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 16px;
                    letter-spacing: 0px;
                    text-align: left;
                }
            }
       }
       .flag:hover{
           box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
           transform: translate(0px, -20px);
           transition: 0.5s;
           cursor: pointer;
       }
    }
}   


.night-mode{
    width: 130px;
    border: 1px solid rgb(147, 147, 147);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.night-mode:hover{
    background-color: #bdbdbd82;
    transition: 0.3s;
}

.dark{
    background-color: #202C36;
    transition: 0.3s;
}

.dark-head{
    background-color: #2B3844;
    color: white;
    transition: 0.3s;
}

.dark-main{
    .top{
        .input-wrapper{
            background-color: #2B3844;
            transition: 0.3s;
            input{
                background-color: #2B3844;
                transition: 0.3s;
                color: white;
            }
            input::placeholder{
                color: white;
                transition: 0.3s;
            }
        }
        .select-wrapper{
            select{
                background-color: #2B3844;
                color: white;
                transition: 0.3s;
            }
        }
    }
    .flags-wrapper{
        .flag{
            background-color: #2B3844;
            transition: 0.3s;
            .flag-info{
                h3{
                    color: white;   
                    transition: 0.3s;
                }
                p{
                    color: white;
                    transition: 0.3s;
                }
                span{
                    color: white;
                    transition: 0.3s;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .container{
        max-width: 1024px;
        padding: 0 15px;
        margin: 0 auto;
    } 
    header{
        height: 80px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
        background: rgb(255, 255, 255);
        padding-top: 25px;
        margin-bottom: 50px;
        transition: 0.5s;
        nav{
           display: flex;
           justify-content: space-between;
           align-items: center; 
           h1{
            font-family: Nunito Sans;
            font-size: 22px;
            font-weight: 800;
            line-height: 33px;
            letter-spacing: 0px;
            text-align: left;
           }
           .night-mode{
               display: flex;
               align-items: center;
               width: 110px;
               gap: 8px;
               font-family: Nunito Sans;
               font-size: 14px;
               font-weight: 600;
               line-height: 20px;
               letter-spacing: 0px;
               text-align: left;
           }
        }
    }
    main{
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
            .input-wrapper{
                transition: 0.5s;
                display: flex;
                align-items: center;
                gap: 24px;
                width: 490px;
                height: 45px;   
                border-radius: 5px;
                box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
                background: rgb(255, 255, 255);
                padding: 28px 21px 28px 21px;
                input{
                    transition: 0.5s;
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 45px;
                    color: rgb(132, 132, 132);
                    font-family: Nunito Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0px;
                    text-align: left;
                }
            }
            .select-wrapper{
                display: flex;
                align-items: center;
                gap: 16px;
            }
            select{
                width: 180px;
                height: 55px;
                color: rgb(17, 21, 23);
                font-family: Nunito Sans;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: left;
                padding-left: 20px;
                border: none;
                border-radius: 5px;
                box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
                background: rgb(255, 255, 255);
                outline: none;
                transition: 0.5s;
            }
        } 
        .flags-wrapper{
            margin-left: 30px;
           display: grid;
           grid-template-columns: repeat(3, 1fr);
           gap: 50px; 
           .flag{
                cursor: pointer;
                transition: transform 0.7s, box-shadow 0.5s;
                width: 250px;
                height: 336px;
                border-radius: 5px;
                box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
                background: rgb(255, 255, 255);
                transition: 0.5s;
               img{
                    width: 250px;
                    height: 160px;
                    border-radius: 5px 5px 0px 0px;
               }
               .flag-info{
                    padding: 24px 24px 24px 24px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    h3{
                        color: rgb(17, 21, 23);
                        font-family: Nunito Sans;
                        font-size: 18px;
                        font-weight: 800;
                        line-height: 26px;
                        letter-spacing: 0px;
                        text-align: left;
                        margin-bottom: 8px;
                    }
                    p{
                        color: rgb(17, 21, 23);
                        font-family: Nunito Sans;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 16px;
                        letter-spacing: 0px;
                        text-align: left;
    
                    }
                    span{
                        color: rgb(17, 21, 23);
                        font-family: Nunito Sans;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 16px;
                        letter-spacing: 0px;
                        text-align: left;
                    }
                }
           }
           .flag:hover{
               box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
               transform: translate(0px, -20px);
               transition: 0.5s;
               cursor: pointer;
           }
        }
    }  

}

@media screen and (max-width: 800px) {
    .container{
        max-width: 800px;
        padding: 0 15px;
        margin: 0 auto;
    } 
    header{
        height: 80px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
        background: rgb(255, 255, 255);
        padding-top: 25px;
        margin-bottom: 50px;
        transition: 0.5s;
        nav{
           display: flex;
           justify-content: space-between;
           align-items: center; 
           h1{
            font-family: Nunito Sans;
            font-size: 22px;
            font-weight: 800;
            line-height: 33px;
            letter-spacing: 0px;
            text-align: left;
           }
           .night-mode{
               display: flex;
               align-items: center;
               width: 110px;
               gap: 8px;
               font-family: Nunito Sans;
               font-size: 14px;
               font-weight: 600;
               line-height: 20px;
               letter-spacing: 0px;
               text-align: left;
           }
        }
    }
    main{
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
            .input-wrapper{
                transition: 0.5s;
                display: flex;
                align-items: center;
                gap: 24px;
                width: 400px;
                height: 45px;   
                border-radius: 5px;
                box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
                background: rgb(255, 255, 255);
                padding: 25px 21px 25px 21px;
                input{
                    transition: 0.5s;
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 45px;
                    color: rgb(132, 132, 132);
                    font-family: Nunito Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0px;
                    text-align: left;
                }
            }
            .select-wrapper{
                display: flex;
                align-items: center;
                gap: 16px;
            }
            select{
                width: 130px;
                height: 50px;
                color: rgb(17, 21, 23);
                font-family: Nunito Sans;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: left;
                padding-left: 20px;
                border: none;
                border-radius: 5px;
                box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
                background: rgb(255, 255, 255);
                outline: none;
                transition: 0.5s;
            }
        } 
        .flags-wrapper{
            margin-left: 65px;
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           gap: 50px; 
           .flag{
                cursor: pointer;
                transition: transform 0.7s, box-shadow 0.5s;
                width: 250px;
                height: 336px;
                border-radius: 5px;
                box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
                background: rgb(255, 255, 255);
                transition: 0.5s;
               img{
                    width: 250px;
                    height: 160px;
                    border-radius: 5px 5px 0px 0px;
               }
               .flag-info{
                    padding: 24px 24px 24px 24px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    h3{
                        color: rgb(17, 21, 23);
                        font-family: Nunito Sans;
                        font-size: 18px;
                        font-weight: 800;
                        line-height: 26px;
                        letter-spacing: 0px;
                        text-align: left;
                        margin-bottom: 8px;
                    }
                    p{
                        color: rgb(17, 21, 23);
                        font-family: Nunito Sans;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 16px;
                        letter-spacing: 0px;
                        text-align: left;
    
                    }
                    span{
                        color: rgb(17, 21, 23);
                        font-family: Nunito Sans;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 16px;
                        letter-spacing: 0px;
                        text-align: left;
                    }
                }
           }
           .flag:hover{
               box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
               transform: translate(0px, -20px);
               transition: 0.5s;
               cursor: pointer;
           }
        }
    }  

}

@media screen and (max-width: 380px) {
    .container{
        max-width: 380px;
        padding: 0 15px;
        margin: 0 auto;
    } 
    header{
        height: 60px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
        background: rgb(255, 255, 255);
        margin-bottom: 30px;
        transition: 0.5s;
        padding-top: 15px;
        nav{
           display: flex;
           justify-content: space-between;
           align-items: center; 
           h1{
            font-family: Nunito Sans;
            font-size: 20px;
            font-weight: 800;
            line-height: 33px;
            letter-spacing: 0px;
            text-align: left;
           }
           .night-mode{
               display: flex;
               align-items: center;
               justify-content: center;
               width: 120px;
               gap: 5px;
               font-family: Nunito Sans;
               font-size: 13px;
               font-weight: 600;
               line-height: 20px;
               letter-spacing: 0px;
               text-align: left;
           }
        }
    }
    main{
        .top{
            display: flex;
            flex-direction: column;
            gap: 15px;
            .input-wrapper{
                transition: 0.5s;
                display: flex;
                align-items: center;
                gap: 24px;
                width: 300px;
                height: 45px;   
                border-radius: 5px;
                box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
                background: rgb(255, 255, 255);
                padding: 25px 21px 25px 21px;
                input{
                    transition: 0.5s;
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 45px;
                    color: rgb(132, 132, 132);
                    font-family: Nunito Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0px;
                    text-align: left;
                }
            }
            .select-wrapper{
                display: flex;
                align-items: center;
                gap: 16px;
            }
            select{
                width: 130px;
                height: 50px;
                color: rgb(17, 21, 23);
                font-family: Nunito Sans;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: left;
                padding-left: 20px;
                border: none;
                border-radius: 5px;
                box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
                background: rgb(255, 255, 255);
                outline: none;
                transition: 0.5s;
            }
        } 
        
        .flags-wrapper{
            margin-left: 42px;
           display: grid;
           grid-template-columns: repeat(1, 1fr);
           gap: 50px; 
           .flag{
                cursor: pointer;
                transition: transform 0.7s, box-shadow 0.5s;
                width: 250px;
                height: 336px;
                border-radius: 5px;
                box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
                background: rgb(255, 255, 255);
                transition: 0.5s;
               img{
                    width: 250px;
                    height: 160px;
                    border-radius: 5px 5px 0px 0px;
               }
               .flag-info{
                    padding: 24px 24px 24px 24px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    h3{
                        color: rgb(17, 21, 23);
                        font-family: Nunito Sans;
                        font-size: 18px;
                        font-weight: 800;
                        line-height: 26px;
                        letter-spacing: 0px;
                        text-align: left;
                        margin-bottom: 8px;
                    }
                    p{
                        color: rgb(17, 21, 23);
                        font-family: Nunito Sans;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 16px;
                        letter-spacing: 0px;
                        text-align: left;
    
                    }
                    span{
                        color: rgb(17, 21, 23);
                        font-family: Nunito Sans;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 16px;
                        letter-spacing: 0px;
                        text-align: left;
                    }
                }
           }
           .flag:hover{
               box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
               transform: translate(0px, -20px);
               transition: 0.5s;
               cursor: pointer;
           }
        }
    }  
}